/* First logo letters, background button color: #2196F3; */
/* Main logo color  #000000; */
/* Press link color color: #2196F3; */
/* Link letter color, text, title: #212121; */
/* email link #2196F3; */
/* Telephone color, paragraphes: #757575; */
/* Hero title color: #FFFFFF; */
/* footer email, telephone color color: rgba(255, 255, 255, 0.6); */
/* Hero section, footer background: #2F303A; */
/* not-active button background #F5F4FA */
/*background-color hero #C4C4C4;*/
/* logo color #afb1b8 */
:root {
  --main-black-color: #212121;
  --active-link: #2196f3;
  --paragraphs-and-contacts: #757575;
  --logo-black: #000000;
  --main-white: #ffffff;
  --footer-head-color-link-tel: rgba(255, 255, 255, 0.6);
  --hero-footer-background: #2f303a;
  --button-shadow: rgba(0, 0, 0, 0.15);
  --background-button: #f5f4fa;
  --secondary-font-family: "Raleway";
  --secondary-background-color: #f5f4fa;
  --border: #eeeeee;
  --hero-color-third: #c4c4c4;
  --logo-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

address {
  font-style: normal;
}

.section__title--disabled {
  display: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--withoutpadding {
  padding-top: 0px;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black);
}

.logo--blue {
  color: var(--active-link);
}

.logo--white {
  color: var(--main-white);
}

.navigation__logo {
  margin-right: 90px;
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-black-color);
  margin-bottom: 50px;
}

.hero__button {
  background: var(--active-link);
  border: none;
  display: block;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white);
  padding: 10px 32px;
  margin: 30px auto;
  font-family: inherit;
  cursor: pointer;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--active-link);
}

.social__link:hover .social__svg,
.social__link:focus .social__svg {
  fill: var(--main-white);
}

.social__svg {
  fill: var(--logo-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link--grey {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link__svg--white {
  fill: #ffffff;
}

.social-icons-link--grey:hover,
.social-icons-link--grey:focus {
  background-color: var(--active-link);
}

.footer-social-list {
  display: flex;
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--active-link);
}

.footer-social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__svg {
  fill: #ffffff;
}

.footer-social-list__link:hover,
.footer-social-list__link:focus {
  background-color: var(--active-link);
}

.button-list__button {
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--background-button);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-style: none;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover,
.button-list__button:focus {
  background-color: var(--active-link);
  cursor: pointer;
  color: var(--main-white);
  box-shadow: 0px 4px 4px var(--button-shadow);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.close-button:hover, .close-button:focus {
  border-color: var(--active-link);
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: #2196f3;
}

.modal {
  position: absolute;
  display: flex;
  /* justify-content: flex-end; */
  padding: 40px;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.modal-form__title {
  text-align: center;
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20p;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 6px;
}

.modal-form__wrapper--checkbox {
  display: inline-flex;
  position: relative;
  justify-content: center;
  margin-top: 0px;
}

.modal-form__checkbox {
  top: 10px;
  left: 16px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}

.modal-form__input:focus {
  outline: var(--active-link);
  border-color: var(--active-link);
}

.modal-form__icon {
  position: absolute;
  display: block;
  /* background-color: rgba(0, 0, 0, 0.15); */
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: black;
  /* transition: background-color 250ms linear; */
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--active-link);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: background-color 250ms linear;
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus {
  outline: var(--active-link);
  border-color: var(--active-link);
  resize: none;
}

.modal-form__label--checkbox {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal-form__checkbox:checked + .modal-form__label--checkbox::before {
  /* background-color: var(--accent-color); */
  /* box-shadow: inset 0 0 0 4px #ffffff;  */
  width: 16px;
  height: 15px;
  background-image: url(../images/icon_check.svg);
}

.modal-form__checkbox:focus + .modal-form__label--checkbox::before {
  outline: 1px solid var(--active-link);
}

.modal-form__label--checkbox::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  /* border: 1px solid #303030; */
  cursor: pointer;
  margin-right: 10px;
  background-image: url(../images/Vector-checkbox.svg);
}

.modal-form__link {
  text-decoration: underline;
  color: #2196f3;
}

.modal-form__button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--active-link);
  border: none;
  display: block;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white);
  padding: 10px 55px;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white);
  background-color: var(--active-link);
  cursor: pointer;
  text-align: center;
}

.form__icon {
  fill: var(--main-white);
  width: 24px;
  height: 24px;
}

.form__icon {
  margin-left: 10px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.site-nav {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-black-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--active-link);
}

.site-nav__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-link);
  border-radius: 2px;
  bottom: -21px;
  left: 0;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  transform: scaleX(0.5);
  opacity: 1;
}

.site-nav__link--current {
  color: var(--active-link);
}

.site-nav__link--current::after {
  opacity: 1;
}

.site-nav__link--current::after {
  opacity: 1;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__contacts {
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--paragraphs-and-contacts);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--active-link);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--active-link);
}

.list-nav__tel {
  display: flex;
  align-items: center;
}

.contacts__icon {
  fill: var(--paragraphs-and-contacts);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* background: var(--hero-footer-background); */
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-backround/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-color: var(--hero-color-third);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero-footer-background);
  /* max-width: 1600px;
  margin-left: auto;
  margin-right: auto; */
}

.footer__title {
  display: none;
}

.footer-social__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
  margin-bottom: 20px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address__text,
.address__link {
  margin-bottom: 9px;
  display: block;
}

.address__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white);
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-head-color-link-tel);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus, .address__link:hover {
  color: #2196f3;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__footer-social {
  margin-left: 70px;
}

.form__label {
  color: var(--main-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-self: flex-start;
}

.form-thumb {
  display: flex;
  align-items: baseline;
}

.footer__form {
  margin-left: 93px;
}

.form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--main-white);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-thumb {
  margin-top: 20px;
  margin-right: 12px;
}

.features {
  display: flex;
  /* margin-top: -30px;
  margin-left: -30px; */
  /* flex-wrap: wrap; */
}

.features__item:not(:last-child) {
  margin-right: 30px;
  /* margin-top: 30px; */
  /* flex-basis: calc ((100% - 120px)/ 4); */
}

.what-we-do-section {
  padding-bottom: 94px;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-black-color);
  margin-bottom: 10px;
}

.title {
  display: none;
}

.features__text {
  /* display: inline-block; */
  width: 270px;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--paragraphs-and-contacts);
}

.features__icon {
  background-color: var(--secondary-background-color);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.works {
  display: flex;
}

.works__item {
  justify-content: space-between;
  position: relative;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__thumb {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
  overflow: auto;
}

.works__text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section--white-background {
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.team__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.team__thumb {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-white);
  padding-right: auto;
  padding-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--paragraphs-and-contacts);
}

.customers {
  display: flex;
  justify-content: space-between;
}

.customers__item {
  display: flex;
}

.customers__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:focus, .customers__link:hover {
  border-color: var(--active-link);
}

.customers__link:focus .customers__icon,
.customers__link:hover .customers__icon {
  fill: var(--active-link);
}

.customers__icon {
  fill: var(--logo-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -8px;
  margin-top: -8px;
}

.button-list__item {
  flex-basis: calc(100% - 40px)/5;
  margin-left: 8px;
  margin-top: 8px;
}

.portfolio-list__name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-top: transparent;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--border);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--border);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border);
}

.portfolio-list__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}

.portfolio-list__text--short {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraphs-and-contacts);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-list__link:hover .portfolio-list__thumb,
.portfolio-list__link:focus .portfolio-list__thumb {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-color: transparent;
}

.portfolio-list__thumb {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__img {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:focus .portfolio-list__text,
.portfolio-list__link:hover .portfolio-list__text,
.portfolio-list__link:focus .portfolio-list__text {
  transform: translateY(0%);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */