.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero-footer-background);
  /* max-width: 1600px;
  margin-left: auto;
  margin-right: auto; */
}

.footer__title {
  display: none;
}

.footer-social__title {
  font-family: Roboto;
  // font-style: normal;
  font-weight: bold;
  @include font(14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--main-white);
  margin-bottom: 20px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  
}

.address__text,
.address__link {
  margin-bottom: 9px;
  display: block;
}

.address__text {
    // font-style: normal;
    @include font(14px, 1.71, 0.03em);
    color: var(--main-white);
}
    
.address__link {
      // font-style: normal;
      @include font(14px, 1.71, 0.03em);
      color: var(--footer-head-color-link-tel);
      display: block;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
           color: #2196f3;
    }
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__footer-social {
  margin-left: 70px;
}

.form__label {
  color: var(--main-white);
  font-weight: bold;
  @include font(14px, 1.14, 0.03em);
  text-transform: uppercase;
  align-self: flex-start;
}

.form-thumb {
  display: flex;
  align-items: baseline;
}

.footer__form {
  margin-left: 93px;
}

.form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--main-white);
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__form-thumb {
  margin-top: 20px;
  margin-right: 12px;
}

