.customers {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.customers__item {
    height: 92px;
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.customers__link {
  display: flex;
  justify-content:center;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  transition: border $time $timing-function, fill $time $timing-function;

  &:hover,
  &:focus {
    border: 1px solid $extra-color;
    fill: $extra-color;
  }
}
