.works {
  display: flex;
}

.works__item {
  justify-content: space-between;
  position: relative;
  
    &:not(:last-child) {
      margin-right: 30px;
  }

}

.works__thumb {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
  overflow: auto;
}

.works__text {
  text-transform: uppercase;
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  @include font(14px, 1.14, 0.03em);
}
