.logo {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  display: block;
  @include font(26px, 1.19, 0.03em);
  color: var(--logo-black);
}

.logo--blue {
  color: var(--active-link);
}
  
.logo--white {
  color: var(--main-white);
}

