.modal-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.modal-form__title {
  text-align: center;
  margin-bottom: 12px;
  font-family: Roboto;
  // font-style: normal;
  font-weight: bold;
  @include font(20p, 1.15, 0.03em);
}

.modal-form__label {
  @include font(12px, 1.16, 0.01em);
  margin-bottom: 10px;
  // font-weight: normal;
}


.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 6px; 
}

.modal-form__wrapper--checkbox {
  display: inline-flex;
  position: relative;
  justify-content: center;
  margin-top: 0px;
}

.modal-form__checkbox {
  top: 10px;
  left: 16px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
      &:focus {
        outline: var(--active-link);
        border-color: var(--active-link);
        }
}

.modal-form__icon {
  position: absolute;
  display: block;
  /* background-color: rgba(0, 0, 0, 0.15); */
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: black;
  /* transition: background-color 250ms linear; */
    .modal-form__input:focus + & {
        fill: var(--active-link);
  }

}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: background-color 250ms linear;
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
      outline: var(--active-link);
      border-color: var(--active-link);
      resize: none;
    }
}

.modal-form__label--checkbox {
  @include display(flex, center);
  font-family: Roboto;
  // font-style: normal;
  // font-weight: normal;
  @include font(14px, 1.71, 0.03em);

        .modal-form__checkbox:checked + &::before {
        /* background-color: var(--accent-color); */
        /* box-shadow: inset 0 0 0 4px #ffffff;  */
        width: 16px;
        height: 15px;
        background-image: url(../images/icon_check.svg);
  }   
        .modal-form__checkbox:focus + &::before {
            outline: 1px solid var(--active-link);
         }
         
         &::before {
          display: block;
          content: "";
          width: 16px;
          height: 15px;
          /* border: 1px solid #303030; */
          cursor: pointer;
          margin-right: 10px;
          background-image: url(../images/Vector-checkbox.svg);
        }
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
}

.modal-form__link {
  text-decoration: underline;
  color: #2196f3;
}
