.projects-button {
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--background-button);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-style: none;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-button:hover,
.projects-button:focus {
    background-color: var(--active-link);
    cursor: pointer;
    color: var(--main-white);
    // outline: none;
    box-shadow: 0px 4px 4px var(--button-shadow);
}

