.sign-up-button {
    @include display (flex, center);
    border: none;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;
    font-weight: bold;
    @include font(16px, 1.88, 0.06em);
    color: var(--main-white);
    background-color: var(--active-link);
    cursor: pointer;
    text-align: center;
  }

  .sign-up-icon {
    fill: var(--main-white);
    width: 24px;
    height: 24px;
  }
  
  .sign-up-icon__sign-up-button {
    margin-left: 10px;
  }