html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

address {
  font-style: normal;
}

.section__title--disabled {
  display: none;
}
