@mixin font($fs, $lh, $ls)
{
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin display($display, $algnitms)
{
    display: $display;
    align-items: $algnitms;
}

@mixin flex($justifyContent, $alignItems: center) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
  }

  @mixin auth-icons($w, $h, $mr) {
    width: $w;
    height: $h;
    margin-right: 10px;
    fill: currentColor;
  }