/* First logo letters, background button color: #2196F3; */
/* Main logo color  #000000; */
/* Press link color color: #2196F3; */
/* Link letter color, text, title: #212121; */
/* email link #2196F3; */
/* Telephone color, paragraphes: #757575; */
/* Hero title color: #FFFFFF; */
/* footer email, telephone color color: rgba(255, 255, 255, 0.6); */
/* Hero section, footer background: #2F303A; */
/* not-active button background #F5F4FA */
/*background-color hero #C4C4C4;*/
/* logo color #afb1b8 */

:root {
  --main-black-color: #212121;
  --active-link: #2196f3;
  --paragraphs-and-contacts: #757575;
  --logo-black: #000000;
  --main-white: #ffffff;
  --footer-head-color-link-tel: rgba(255, 255, 255, 0.6);
  --hero-footer-background: #2f303a;
  --button-shadow: rgba(0, 0, 0, 0.15);
  --background-button: #f5f4fa;
  --secondary-font-family: "Raleway";
  --secondary-background-color: #f5f4fa;
  --border: #eeeeee;
  --hero-color-third: #c4c4c4;
  --logo-color: #afb1b8;
}
